<!--
  File: voter_analytics/templates/voter_analytics/voters.html
  Author: Saksham Goel (sakshamg@bu.edu), 10/28/2025
  Description: Template for displaying list of voters.
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">

    <!-- filter form -->
    <div class="row">
        <h2>Filter Voters</h2>
        <form method="get">
            <table>
                <tr>
                    <th>Party</th>
                    <td>
                        <select name="party">
                            <option value="">(any)</option>
                            {% for p in parties %}
                                <option value="{{p}}" {% if request.GET.party == p %}selected{% endif %}>{{p}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Min DOB (year)</th>
                    <td>
                        <select name="min_dob">
                            <option value="">(any)</option>
                            {% for y in years %}
                                <option value="{{y}}" {% if request.GET.min_dob == y|stringformat:"s" %}selected{% endif %}>{{y}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Max DOB (year)</th>
                    <td>
                        <select name="max_dob">
                            <option value="">(any)</option>
                            {% for y in years %}
                                <option value="{{y}}" {% if request.GET.max_dob == y|stringformat:"s" %}selected{% endif %}>{{y}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Voter Score</th>
                    <td>
                        <select name="voter_score">
                            <option value="">(any)</option>
                            {% for s in scores %}
                                <option value="{{s}}" {% if request.GET.voter_score == s|stringformat:"s" %}selected{% endif %}>{{s}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Elections</th>
                    <td>
                        <label><input type="checkbox" name="v20state" {% if request.GET.v20state == 'on' %}checked{% endif %}> v20state</label><br>
                        <label><input type="checkbox" name="v21town" {% if request.GET.v21town == 'on' %}checked{% endif %}> v21town</label><br>
                        <label><input type="checkbox" name="v21primary" {% if request.GET.v21primary == 'on' %}checked{% endif %}> v21primary</label><br>
                        <label><input type="checkbox" name="v22general" {% if request.GET.v22general == 'on' %}checked{% endif %}> v22general</label><br>
                        <label><input type="checkbox" name="v23town" {% if request.GET.v23town == 'on' %}checked{% endif %}> v23town</label>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Filter"></td>
                    <td><a href="{% url 'voters' %}">Reset</a></td>
                </tr>
            </table>
        </form>
    </div>

    <h1>Voters</h1>

    <!-- navigation links for different pages of results -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}&{{ querystring }}">Previous</a></span>
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}&{{ querystring }}">Next</a></span>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

    <!-- table of voters -->
    <div class="row">
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Street Address</th>
                <th>Date of Birth</th>
                <th>Party Affiliation</th>
                <th>Voter Score</th>
            </tr>
            {% for v in voters %}
            <tr>
                <td><a href="{% url 'voter' v.pk %}">{{ v.last_name }}</a></td>
                <td><a href="{% url 'voter' v.pk %}">{{ v.first_name }}</a></td>
                <td>{{ v.street_number }} {{ v.street_name }}{% if v.apt_number %} Apt {{ v.apt_number }}{% endif %}</td>
                <td>{{ v.date_of_birth }}</td>
                <td>{{ v.party }}</td>
                <td>{{ v.voter_score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
