<!--
  File: dadjokes/templates/dadjokes/base.html
  Author: Saksham Goel (sakshamg@bu.edu), 11/11/2025
  Description: Base template providing head, header/nav, main content block.
-->

{% load static %}

<html>
  <head>
    <title>Dad Jokes</title>
    <link rel="stylesheet" href="{% static 'dadjokes_styles.css' %}">
  </head>
  <body>
    <header>
      <h1>Welcome to Dad Jokes</h1>
      <nav>
        <ul>
            <li><a href="{% url 'random' %}">Random</a></li>
            <li><a href="{% url 'jokes' %}">All Jokes</a></li>
            <li><a href="{% url 'pictures' %}">All Pictures</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

