<!--
  File: dadjokes/templates/dadjokes/jokes.html
  Author: Saksham Goel (sakshamg@bu.edu), 11/11/2025
  Description: Template for displaying all jokes.
-->

{% extends "dadjokes/base.html" %}

{% block content %}

<h2>All Jokes</h2>

{% if jokes %}
    <ul>
        {% for joke in jokes %}
            <li>
                <p>{{ joke.text }}</p>
                <p><em>by {{ joke.contributor }} on {{ joke.created }}</em></p>
                <a href="{% url 'joke' joke.pk %}">View this joke</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No jokes available.</p>
{% endif %}

{% endblock %}

