<!--
  File: dadjokes/templates/dadjokes/picture.html
  Author: Saksham Goel (sakshamg@bu.edu), 11/11/2025
  Description: Template for displaying a single picture.
-->

{% extends "dadjokes/base.html" %}

{% block content %}

<h2>Picture</h2>

<div>
    <img src="{{ picture.image_url }}" alt="Picture by {{ picture.contributor }}" style="max-width: 500px;">
    <p><em>by {{ picture.contributor }} on {{ picture.created }}</em></p>
</div>

<a href="{% url 'pictures' %}">Back to all pictures</a>

{% endblock %}

