<!--
  File: project/templates/project/create_meal.html
  Author: Saksham Goel (sakshamg@bu.edu), 11/27/2025
  Description: Form for creating a new meal.
-->
  
{% extends "project/base.html" %}

{% block content %}

<!-- Create Meal Form -->
<h1>Create a New Meal</h1>

<form action="{% url 'create_meal' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Create Meal</button>
</form>

<p><a href="{% url 'meal_list' %}">Cancel</a></p>

{% endblock %}
