{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}K-Block Restaurant{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'restaurant_styles.css' %}">
</head>
<body>
  <header>
    <h1>K-Block Restaurant</h1>
    <nav>
      <a href="{% url 'main' %}">Main</a>
      <a href="{% url 'order' %}">Order</a>
      <a href="{% url 'confirmation' %}">Confirmation</a>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
  <div>K-Block Korean Restaurant {% now "Y" %}</div>
  <div class="muted">Current Time: {% now "D M d H:i:s Y" %}</div>
</footer>

</body>
</html>
