{% extends "blog/base.html" %}

{% block content %}

<h1>{{ article.title }}</h1>

<!--{{ articles }}-->

<main class="grid-container">
    <div>
        <div>
            <h2>{{ article.title }}</h2>
            <h3>by {{ article.author }}</h3>
            <p> {{ article.text }}</p>
            <a href="{% url 'update_article' article.pk %}">Edit Article</a>
        </div>
         {% if article.image_file %}
            <img src="{{ article.image_file.url }}" alt="">
            {% else %}
            <p>No image for this article.</p>
        {% endif %}
            <div></div>
            <h2>Comments</h2>
            <h3>
                <a href="{% url 'create_comment' article.pk %}">Add a Comment</a>
            </h3>
            {% for comment in article.get_all_comments %}
                <div>
                    <h4>{{ comment.author }} at {{ comment.published }}</h4>
                    <p>{{ comment.text }}</p>
                    <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
            </div>
        </article>
</main>  

{% endblock %}