{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="show_all_main">
  {% for profile in profiles %}
    <a href="{% url 'show_profile' profile.pk %}" class="show_all_link">
      <div class="show_all_container">
        <img src="{{ profile.profile_image_url }}" alt="Profile image" class="show_all_image">
        <div class="show_all_text">
          <h2>@{{ profile.username }}</h2>
          <h4>{{ profile.display_name }}</h4>
        </div>
      </div>
    </a>
  {% endfor %}
</main>

{% endblock %}
